.help_show {
	POSITION: absolute; LEFT: 900px; TOP: 500px
}
.show_kj {
	BORDER-TOP: #fb0301 4px solid; BORDER-RIGHT: #fb0301 4px solid; BORDER-BOTTOM: #fb0301 4px solid; BORDER-LEFT: #fb0301 4px solid
}
.kjauto1 {
	HEIGHT: 50px; WIDTH: 100px
}
.hand {
	CURSOR: pointer; HEIGHT: 54px; WIDTH: 59px; BACKGROUND: url(../img/fc_hand/hand.gif) no-repeat; POSITION: relative; LEFT: 30px; TOP: -10px
}
.show_tips {
	FONT-SIZE: 12px; BORDER-TOP: #eba100 1px solid; BORDER-RIGHT: #eba100 1px solid; WIDTH: 437px; BACKGROUND: url(../img/fc_hand/help_fc_bg.gif) no-repeat left top; BORDER-BOTTOM: #eba100 1px solid; POSITION: absolute; BORDER-LEFT: #eba100 1px solid; Z-INDEX: 9999
}
.show_tips .t_zone {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 21px; PADDING-RIGHT: 10px
}
.tips1 {
	WIDTH: 120px; LEFT: 70px; TOP: 50px
}
.blue_load_l:link {
	TEXT-DECORATION: underline; COLOR: #3b5888
}
.blue_load_l:visited {
	TEXT-DECORATION: underline; COLOR: #3b5888
}
.blue_load_l:hover {
	TEXT-DECORATION: underline; COLOR: #3b5888
}
.blue_load_l:active {
	TEXT-DECORATION: underline; COLOR: #3b5888
}
.tips2 {
	WIDTH: 300px; LEFT: 70px; TOP: 80px
}
.gb_an {
	FLOAT: right; MARGIN-TOP: 3px; MARGIN-RIGHT: 2px
}
