IMG {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.center {
	HEIGHT: auto; WIDTH: 778px; BACKGROUND: #fff; TEXT-ALIGN: center; PADDING-LEFT: 11px; PADDING-RIGHT: 11px
}
.center1 {
	HEIGHT: auto; WIDTH: 928px; BACKGROUND: #fff; TEXT-ALIGN: center; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
P {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px auto; PADDING-RIGHT: 0px
}
H1 {
	FONT-SIZE: 14px; BACKGROUND: url(/img/pub/dot_490px.gif) repeat-x left bottom; FONT-WEIGHT: 500; COLOR: #ff6600; PADDING-BOTTOM: 8px; TEXT-ALIGN: left; PADDING-TOP: 8px; PADDING-LEFT: 20px; MARGIN: 0px 5px 5px; PADDING-RIGHT: 0px
}
H1 IMG {
	MARGIN-BOTTOM: -4px
}
H2 {
	FONT-SIZE: 14px; FONT-WEIGHT: 500; COLOR: #ff0000; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 8px; PADDING-LEFT: 20px; MARGIN: 0px; PADDING-RIGHT: 0px
}
H3 {
	FONT-SIZE: 14px; FONT-WEIGHT: 500; COLOR: #ff6600; PADDING-BOTTOM: 0px; TEXT-ALIGN: left; PADDING-TOP: 4px; PADDING-LEFT: 20px; MARGIN: 0px; PADDING-RIGHT: 0px
}
A:link {
	TEXT-DECORATION: none; COLOR: #333333
}
A:visited {
	TEXT-DECORATION: none; COLOR: #333333
}
A:hover {
	TEXT-DECORATION: none; COLOR: #ff6600
}
SUP.pop-sale {
	OVERFLOW: hidden; FONT-SIZE: 0px; HEIGHT: 28px; WIDTH: 38px; BACKGROUND: url(/img/pub/Head_hot2.gif) no-repeat 0px 0px; POSITION: absolute; LINE-HEIGHT: 0; TOP: 75px
}
.style1 {
	FONT-SIZE: 12px; COLOR: #ff3300
}
.style_2 {
	FONT-SIZE: 12px
}
.STYLE3 {
	COLOR: #ff0000
}
.STYLE20 {
	FONT-WEIGHT: bold; COLOR: #d07e02
}
.font12 {
	FONT-SIZE: 12px
}
.font12a {
	FONT: 12px Arial, Helvetica, sans-serif
}
.font14 {
	FONT-SIZE: 14px
}
.font_red {
	COLOR: #c70102
}
.font_red A:link {
	TEXT-DECORATION: none; COLOR: #c70102
}
.font_red A:visited {
	TEXT-DECORATION: none; COLOR: #c70102
}
.font_red A:hover {
	TEXT-DECORATION: none; COLOR: #c70102
}
.font12gray2 {
	FONT-SIZE: 12px; COLOR: #6c6c6c
}
.nav {
	BACKGROUND-IMAGE: url(/img/newpage/i_4.gif); BACKGROUND-REPEAT: repeat-x
}
.nav UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.nav LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(/img/newpage/i_5.gif) no-repeat right center; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.nav LI A:link {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #fff
}
.nav LI A:visited {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #fff
}
.nav LI A:hover {
	FONT-SIZE: 13px; FONT-WEIGHT: bold; COLOR: #fff
}
.nav LI.nav9 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
.nav LI.nav2 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.nav LI.nav3 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.top_nav UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.top_nav LI {
	LIST-STYLE-TYPE: none; BACKGROUND: url(/img/newpage/i_5.gif) no-repeat right center; FLOAT: right; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.top_nav LI.nav11 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.top_nav LI.nav12 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.top_nav LI.nav13 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px
}
.a0 {
	COLOR: #ff0000
}
A.a0:link {
	TEXT-DECORATION: none; COLOR: #ff0000
}
A.a0:visited {
	TEXT-DECORATION: none; COLOR: #ff0000
}
A.a0:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
.a1 {
	TEXT-DECORATION: none; COLOR: #06c
}
A.a1:link {
	TEXT-DECORATION: none; COLOR: #06c
}
A.a1:visited {
	TEXT-DECORATION: none; COLOR: #06c
}
A.a1:hover {
	TEXT-DECORATION: underline; BACKGROUND: #fff; COLOR: #ff0000
}
.a2 {
	TEXT-DECORATION: none
}
A.a2:link {
	TEXT-DECORATION: underline; BACKGROUND: #f00; COLOR: #fff
}
A.a2:visited {
	TEXT-DECORATION: none; BACKGROUND: #06c; COLOR: #fff
}
A.a2:hover {
	TEXT-DECORATION: underline; BACKGROUND: #06c; COLOR: #fff
}
.a5 {
	TEXT-DECORATION: none; COLOR: #ff6600
}
A.a5:link {
	TEXT-DECORATION: underline; COLOR: #ff6600
}
A.a5:visited {
	TEXT-DECORATION: none; COLOR: #ff6600
}
A.a5:hover {
	TEXT-DECORATION: underline; COLOR: #ff6600
}
.a4 {
	TEXT-DECORATION: none; COLOR: #261cdc
}
A.a4:link {
	TEXT-DECORATION: none; COLOR: #261cdc
}
A.a4:visited {
	TEXT-DECORATION: none; COLOR: #261cdc
}
A.a4:hover {
	TEXT-DECORATION: underline; COLOR: #261cdc
}
.a3 {
	TEXT-DECORATION: none
}
A.a3:link {
	TEXT-DECORATION: underline; COLOR: #000099
}
A.a3:visited {
	TEXT-DECORATION: none; COLOR: #000099
}
A.a3:hover {
	TEXT-DECORATION: underline; COLOR: #000099
}
.a1_12 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.a1_12 A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #000000
}
.a1_12 A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #000000
}
.a1_12 A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #000000
}
.a_bbs {
	FONT-SIZE: 14px; COLOR: #261cdc
}
.a_bbs A:link {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #261cdc
}
.a_bbs A:visited {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #800080
}
.a_bbs A:hover {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; COLOR: #800080
}
.input0 {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; COLOR: #ff6600; BORDER-LEFT: #ccc 1px solid
}
.input0_tuzhu {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; COLOR: #999999; BORDER-LEFT: #ccc 1px solid
}
.input1 {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 16px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 90px; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; COLOR: #ff6600; BORDER-LEFT: #ccc 1px solid
}
.input4 {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 16px; BORDER-RIGHT: #ccc 1px solid; WIDTH: 280px; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; COLOR: #ff0000; BORDER-LEFT: #ccc 1px solid
}
.input2 {
	BORDER-TOP: #aaa 1px solid; HEIGHT: 14px; BORDER-RIGHT: #aaa 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aaa 1px solid; COLOR: red; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 4px; BORDER-LEFT: #aaa 1px solid; PADDING-RIGHT: 4px
}
.input3 {
	BORDER-TOP: #aaa 1px solid; HEIGHT: 20px; BORDER-RIGHT: #aaa 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #aaa 1px solid; COLOR: red; PADDING-BOTTOM: 0px; PADDING-TOP: 2px; PADDING-LEFT: 4px; BORDER-LEFT: #aaa 1px solid; PADDING-RIGHT: 4px
}
.FormInput {
	FONT-SIZE: 12px; BORDER-TOP: #999 1px solid; HEIGHT: 15px; BORDER-RIGHT: #999 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-RIGHT: 2px
}
.FormInput1 {
	FONT-SIZE: 12px; BORDER-TOP: #f00 1px solid; HEIGHT: 15px; BORDER-RIGHT: #f00 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-BOTTOM: #f00 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #f00 1px solid; PADDING-RIGHT: 2px
}
.FormInput2 {
	FONT-SIZE: 12px; BORDER-TOP: #6fbe44 1px solid; HEIGHT: 15px; BORDER-RIGHT: #6fbe44 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-BOTTOM: #6fbe44 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #6fbe44 1px solid; PADDING-RIGHT: 2px
}
.gray {
	FONT-SIZE: 12px; BORDER-TOP: #999 1px solid; HEIGHT: 15px; BORDER-RIGHT: #999 1px solid; WIDTH: 280px; BACKGROUND: #fff; BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #999 1px solid; PADDING-RIGHT: 2px
}
.red {
	FONT-SIZE: 12px; BORDER-TOP: #f00 1px solid; HEIGHT: 15px; BORDER-RIGHT: #f00 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-BOTTOM: #f00 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #f00 1px solid; PADDING-RIGHT: 2px
}
.green {
	FONT-SIZE: 12px; BORDER-TOP: #6fbe44 1px solid; HEIGHT: 15px; BORDER-RIGHT: #6fbe44 1px solid; WIDTH: 200px; BACKGROUND: #fff; BORDER-BOTTOM: #6fbe44 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; MARGIN: 0px; BORDER-LEFT: #6fbe44 1px solid; PADDING-RIGHT: 2px
}
.warning1 {
	FONT-SIZE: 12px; BORDER-TOP: #cccccc 1px solid; HEIGHT: 14px; BORDER-RIGHT: #cccccc 1px solid; WIDTH: auto; BACKGROUND: #f4f4f4; BORDER-BOTTOM: #cccccc 1px solid; FLOAT: left; COLOR: #000; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 3px; MARGIN: 0px; BORDER-LEFT: #cccccc 1px solid; PADDING-RIGHT: 3px
}
.warning {
	FONT-SIZE: 12px; BORDER-TOP: #b5b5b5 1px solid; HEIGHT: 14px; BORDER-RIGHT: #b5b5b5 1px solid; WIDTH: auto; BACKGROUND: url(/Img/pub/Icon_Warning.gif) #fffbe7 no-repeat 0px 0px; BORDER-BOTTOM: #b5b5b5 1px solid; FLOAT: left; COLOR: #000; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; PADDING-LEFT: 23px; MARGIN: 0px; BORDER-LEFT: #b5b5b5 1px solid; PADDING-RIGHT: 3px
}
.xinxi {
	WIDTH: auto; FLOAT: left; PADDING-RIGHT: 20px
}
.pv {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 120px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; BORDER-TOP-WIDTH: 0px
}
.pv2 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 120px; BACKGROUND: #f4f4f4; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: center; BORDER-TOP-WIDTH: 0px
}
.pv3 {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; WIDTH: 300px; BORDER-BOTTOM-WIDTH: 0px; TEXT-ALIGN: left; BORDER-TOP-WIDTH: 0px
}
.x_bg {
	HEIGHT: 5px; BACKGROUND: url(/Img/pub/dot_490px.gif) repeat-x left center; CLEAR: both; MARGIN: 0px 5px
}
.sc_bg {
	HEIGHT: 35px; BACKGROUND: url(/Img/pub/dot_490px.gif) repeat-x left center; CLEAR: both; MARGIN: 0px 5px
}
.nav_cd {
	HEIGHT: 33px; WIDTH: 760px; BACKGROUND: url(/Img/pub/fwtk_3.gif) repeat-y 0px 0px; MARGIN: 5px 0px
}
.nav_top {
	FONT-SIZE: 14px; BACKGROUND: url(/Img/pub/fwtk_1.gif) no-repeat 0px 0px; TEXT-ALIGN: left; PADDING-TOP: 8px; TEXT-INDENT: 14px
}
.nav_bot {
	FONT-SIZE: 0px; HEIGHT: 8px; BACKGROUND: url(/Img/pub/fwtk_2.gif) no-repeat 0px bottom; CLEAR: both
}
.fwtk_next {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.fwtk_dd {
	HEIGHT: 200px; LINE-HEIGHT: 22px; PADDING-RIGHT: 20px
}
.head {
	HEIGHT: 74px; PADDING-TOP: 5px; MARGIN-TOP: 6px
}
.fwtk_down {
	PADDING-BOTTOM: 20px; PADDING-TOP: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.fwtk_dbu UL {
	TEXT-ALIGN: left
}
.fwtk_dbu LI {
	LIST-STYLE-TYPE: square; FONT-SIZE: 14px; LINE-HEIGHT: 24px
}
.xinxi_s {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.title {
	MARGIN-BOTTOM: 0px; FONT-SIZE: 14px; HEIGHT: 27px; WIDTH: 950px; BORDER-BOTTOM: #ffb91f 2px solid; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 0px; PADDING-LEFT: 3px
}
.title IMG {
	MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px
}
.title SPAN {
	FLOAT: right; PADDING-TOP: 8px; PADDING-RIGHT: 11px
}
.title A:link {
	TEXT-DECORATION: none; COLOR: #ff6600
}
.title A:visited {
	TEXT-DECORATION: none; COLOR: #ff6600
}
.title A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #ffb91f
}
.u_title {
	FONT-SIZE: 14px; BORDER-BOTTOM: #c01515 2px solid; FONT-WEIGHT: bold
}
.xnzc_title {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; HEIGHT: 27px; WIDTH: 95%; BORDER-BOTTOM: #c01515 2px solid; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 10px
}
.xnzc_title IMG {
	MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px
}
.xnzc_title SPAN {
	FLOAT: right; PADDING-TOP: 8px; PADDING-RIGHT: 15px
}
.xnzc_title A:link {
	TEXT-DECORATION: none; COLOR: #fff
}
.xnzc_title A:visited {
	TEXT-DECORATION: none; COLOR: #fff
}
.xnzc_title A:hover {
	BACKGROUND: #fff; COLOR: #fff
}
.pg310_title {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; HEIGHT: 27px; WIDTH: 95%; BORDER-BOTTOM: #217302 2px solid; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 10px
}
.pg310_title IMG {
	MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px
}
.pg310_title SPAN {
	FLOAT: right; PADDING-TOP: 8px; PADDING-RIGHT: 15px
}
.pg310_title A:link {
	TEXT-DECORATION: none; COLOR: #fff
}
.pg310_title A:visited {
	TEXT-DECORATION: none; COLOR: #fff
}
.pg310_title A:hover {
	BACKGROUND: #ffffff; COLOR: #fff
}
.BigAward_title {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; HEIGHT: 27px; WIDTH: 95%; BORDER-BOTTOM: #145fba 2px solid; FONT-WEIGHT: bold; TEXT-ALIGN: left; PADDING-TOP: 10px
}
.BigAward_title IMG {
	MARGIN-BOTTOM: -4px; MARGIN-RIGHT: 5px
}
.BigAward_title SPAN {
	FLOAT: right; PADDING-TOP: 8px; PADDING-RIGHT: 15px
}
.BigAward_title A:link {
	TEXT-DECORATION: none; COLOR: #fff
}
.BigAward_title A:visited {
	TEXT-DECORATION: none; COLOR: #fff
}
.BigAward_title A:hover {
	BACKGROUND: #fff; COLOR: #fff
}
.hytj_title {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 14px; WIDTH: 95%; BORDER-BOTTOM: #ccc 2px solid; TEXT-ALIGN: left; PADDING-TOP: 10px
}
.hytj_title IMG {
	MARGIN-BOTTOM: -4px
}
.hytj_title SPAN {
	FONT-SIZE: 13px; FLOAT: right; PADDING-TOP: 8px; PADDING-RIGHT: 12px
}
.hytj_title A:link {
	TEXT-DECORATION: none; COLOR: #0066cc
}
.hytj_title A:visited {
	TEXT-DECORATION: none; COLOR: #0066cc
}
.sc_title {
	MARGIN: 10px auto
}
.scjp_bg {
	BACKGROUND: url(/Img/pub/line.jpg) no-repeat right center
}
.xnbc_sp {
	WIDTH: 95%; TEXT-ALIGN: left; LINE-HEIGHT: 22px
}
.pdr10 {
	TEXT-ALIGN: right; PADDING-RIGHT: 15px
}
.pdr8 {
	TEXT-ALIGN: right; PADDING-RIGHT: 8px
}
.pdr50 {
	TEXT-ALIGN: right; PADDING-RIGHT: 30px
}
.pdl10 {
	TEXT-ALIGN: left; PADDING-LEFT: 10px
}
.pdl20 {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px
}
.pd5 {
	PADDING-LEFT: 10px
}
.img1 IMG {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.img_border {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; PADDING-LEFT: 2px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 2px
}
.pctitle {
	FONT-SIZE: 14px; BACKGROUND: #f7f7f7; BORDER-BOTTOM: #ff6600 2px solid; FONT-WEIGHT: bold; COLOR: #ff6600; TEXT-ALIGN: left; PADDING-TOP: 12px; MARGIN-TOP: 10px
}
.pctitle A:link {
	TEXT-DECORATION: none; COLOR: #ff6600
}
.pctitle A:visited {
	TEXT-DECORATION: none; COLOR: #ff6600
}
.pctitle A:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
.ix_ltd {
	BORDER-BOTTOM: #ccc 1px dashed
}
.ix_btd {
	BORDER-BOTTOM: #ccc 1px dashed
}
.ix_l {
	MARGIN: 8px 0px
}
.qian {
	FONT-SIZE: 16px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-WEIGHT: bold; COLOR: #ff0000
}
.sc_tb IMG {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.white {
	COLOR: #fff
}
.white A:link {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #fff
}
.white A:visited {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #fff
}
.white A:hover {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #fff
}
.img_pd2 IMG {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BACKGROUND: #fff; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; MARGIN: 3px; BORDER-LEFT: #ccc 1px solid; PADDING-RIGHT: 3px
}
.shop_border {
	BORDER-RIGHT: #ceecfa 1px solid; BORDER-BOTTOM: #ceecfa 1px solid; BORDER-LEFT: #ceecfa 1px solid
}
.zhuanqian_t {
	BACKGROUND: #c60001 no-repeat 0px 5px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-INDENT: 20px
}
.logo_k IMG {
	BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid
}
.dati_num {
	COLOR: #ff0000; FONT: bold 18px Arial, Helvetica, sans-serif
}
.touzhu A {
	MARGIN: 0px 10px
}
.touzhu SPAN {
	FLOAT: right
}
.pgshop {
	BORDER-RIGHT: #ceecfa 1px solid; BACKGROUND: url(/img/pub/dot_6190px.gif) repeat-y 10px 0px; BORDER-BOTTOM: #ceecfa 1px solid; PADDING-BOTTOM: 10px; BORDER-LEFT: #ceecfa 1px solid
}
.pgshop UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.pgshop LI {
	LIST-STYLE-TYPE: none; HEIGHT: 195px; WIDTH: 135px; FLOAT: left; PADDING-BOTTOM: 0px; TEXT-ALIGN: center; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.gray11 {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 22px
}
.line_h {
	TEXT-ALIGN: left; LINE-HEIGHT: 22px
}
.STYLE31 {
	FONT-SIZE: 14px; COLOR: #323232
}
.STYLE32 {
	FONT-SIZE: 12px; COLOR: #666666
}
.biankuangnew {
	FONT-SIZE: 9pt; TEXT-DECORATION: none; BORDER-TOP: #b3b3b3 1px solid; FONT-FAMILY: "Arial" , "Helvetica" , "sans-serif"; BORDER-RIGHT: #b3b3b3 1px solid; WIDTH: 400px; BORDER-BOTTOM: #b3b3b3 1px solid; COLOR: #2e2e2e; BORDER-LEFT: #b3b3b3 1px solid; BACKGROUND-COLOR: #ffffff
}
.font15 {
	FONT-SIZE: 14px; COLOR: #404040
}
.font16 {
	FONT-SIZE: 14px; COLOR: #ff3600
}
.a6 {
	TEXT-DECORATION: underline; COLOR: #6a2000
}
A.a6:link {
	TEXT-DECORATION: underline; COLOR: #6a2000
}
A.a6:visited {
	TEXT-DECORATION: underline; COLOR: #6a2000
}
A.a6:hover {
	TEXT-DECORATION: none; COLOR: #6a2000
}
.a7 {
	TEXT-DECORATION: none; COLOR: #6a2000
}
A.a7:link {
	TEXT-DECORATION: none; COLOR: #6a2000
}
A.a7:visited {
	TEXT-DECORATION: none; COLOR: #6a2000
}
A.a7:hover {
	TEXT-DECORATION: underline; COLOR: #6a2000
}
.a8 {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a8:link {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a8:visited {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a8:hover {
	TEXT-DECORATION: none; COLOR: #ff0000
}
.a81 {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a81:link {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a81:visited {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.a81:hover {
	TEXT-DECORATION: none; COLOR: #ff0000
}
.a9 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #ff0000
}
.a10 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #404040
}
.a11 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #000000
}
.a82 {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #61106a
}
A.a82:link {
	TEXT-DECORATION: underline; COLOR: #61106a
}
A.a82:visited {
	TEXT-DECORATION: underline; COLOR: #61106a
}
A.a82:hover {
	TEXT-DECORATION: none; COLOR: #61106a
}
.a83 {
	TEXT-DECORATION: underline; COLOR: #0600ff
}
A.a83:link {
	TEXT-DECORATION: underline; COLOR: #0600ff
}
A.a83:visited {
	TEXT-DECORATION: underline; COLOR: #0600ff
}
A.a83:hover {
	TEXT-DECORATION: none; COLOR: #0600ff
}
.a12 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #521400
}
.a12_1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #521400
}
.STYLE33 {
	FONT-SIZE: 14px; COLOR: #0058a7
}
.a84 {
	TEXT-DECORATION: none; COLOR: #0057a6
}
A.a83:link {
	TEXT-DECORATION: none; COLOR: #0057a6
}
A.a83:visited {
	TEXT-DECORATION: none; COLOR: #0057a6
}
A.a83:hover {
	TEXT-DECORATION: underline; COLOR: #0057a6
}
.a9_1 {
	FONT-SIZE: 14px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff0000
}
.a20 {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #d07e02
}
A.a20:link {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #d07e02
}
A.a20:visited {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #d07e02
}
A.a20:hover {
	TEXT-DECORATION: underline; FONT-WEIGHT: bold; COLOR: #d07e02
}
.a1_1 {
	TEXT-DECORATION: underline; COLOR: #06c
}
A.a1_1:link {
	TEXT-DECORATION: underline; COLOR: #06c
}
A.a1_1:visited {
	TEXT-DECORATION: underline; COLOR: #06c
}
A.a1_1:hover {
	TEXT-DECORATION: none; BACKGROUND: #fff; COLOR: #ff0000
}
.font12gray {
	FONT-SIZE: 12px; COLOR: #404040
}
.font12gray1 {
	FONT-SIZE: 12px; COLOR: #8c8c8c
}
.a21 {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff5f03
}
A.a21:link {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff5f03
}
A.a21:visited {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff5f03
}
A.a21:hover {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff5f03
}
.agreen {
	TEXT-DECORATION: none; COLOR: #2b9900
}
A.agreen:link {
	TEXT-DECORATION: underline; COLOR: #2b9900
}
A.agreen:visited {
	TEXT-DECORATION: underline; COLOR: #2b9900
}
A.agreen:hover {
	TEXT-DECORATION: none; COLOR: #ff5a00
}
.ayellow {
	FONT-SIZE: 14px; TEXT-DECORATION: none; COLOR: #ff6600
}
A.agreen:link {
	TEXT-DECORATION: underline; COLOR: #ff6600
}
A.agreen:visited {
	TEXT-DECORATION: underline; COLOR: #ff6600
}
A.agreen:hover {
	TEXT-DECORATION: none; COLOR: #ff6600
}
.shop_border1 {
	BORDER-RIGHT: #ffb537 1px solid; BORDER-BOTTOM: #ffb537 1px solid; BORDER-LEFT: #ffb537 1px solid
}
.a22 {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff0000
}
A.a22:link {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff0000
}
A.a22:visited {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff0000
}
A.a22:hover {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff0000
}
.a23 {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #820000
}
A.a23:link {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #820000
}
A.a23:visited {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #820000
}
A.a23:hover {
	TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #820000
}
.a83_1 {
	TEXT-DECORATION: underline; COLOR: #930080
}
A.a83_1:link {
	TEXT-DECORATION: underline; COLOR: #930080
}
A.a83_1:visited {
	TEXT-DECORATION: underline; COLOR: #930080
}
A.a83_1:hover {
	TEXT-DECORATION: none; COLOR: #0600ff
}
.font14bromn {
	FONT-SIZE: 14px; COLOR: #660000
}
.font14yellow {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff3c00
}
.font14yellow_1 {
	FONT-SIZE: 14px; COLOR: #ff3c00
}
.font14yellow_2 {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff7200
}
.font14ygrey {
	FONT-SIZE: 14px; COLOR: #525252
}
.brown14blod {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #5e2100
}
.brown12blod {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #5e2100
}
.green12blod {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #225b00
}
.green12 {
	FONT-SIZE: 12px; COLOR: #225b00
}
.br12 {
	FONT-SIZE: 12px; COLOR: #5e2100
}
.14black {
	FONT-SIZE: 14px; COLOR: #000000
}
.black14b {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #000000
}
.black12blod {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #000000
}
.12black {
	FONT-SIZE: 12px; COLOR: #000000
}
.red14blod {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff0000
}
.red12 {
	FONT-SIZE: 12px; COLOR: #ff0000
}
.red12blod {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ff0000
}
.red14 {
	FONT-SIZE: 14px; COLOR: #ff0000
}
.grey12 {
	FONT-SIZE: 12px; COLOR: #8c8c8c
}
.green12underline {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #0d6b00
}
A.green12underline:link {
	TEXT-DECORATION: underline; COLOR: #0d6b00
}
A.green12underline:visited {
	TEXT-DECORATION: underline; COLOR: #0d6b00
}
A.green12underline:hover {
	TEXT-DECORATION: none; COLOR: #0d6b00
}
.red12underline {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #ff0000
}
A.red12underline:link {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.red12underline:visited {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
A.red12underline:hover {
	TEXT-DECORATION: none; COLOR: #ff0000
}
.ser14_1b {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ff4200
}
.serblue12 {
	FONT-SIZE: 12px; COLOR: #002aff
}
.serblue12_2 {
	FONT-SIZE: 12px; COLOR: #0044dd; LINE-HEIGHT: 24px
}
.serblac12_3 {
	FONT-SIZE: 12px; COLOR: #000000; LINE-HEIGHT: 24px
}
.sergreen12_4 {
	FONT-SIZE: 14px; COLOR: #0b5339; LINE-HEIGHT: 24px
}
.sergreen12_4 {
	FONT-SIZE: 14px; COLOR: #0b5339; LINE-HEIGHT: 24px
}
.sercoffe12_5 {
	FONT-SIZE: 14px; COLOR: #713f3f; LINE-HEIGHT: 24px
}
.sergrey12 {
	FONT-SIZE: 12px; COLOR: #8c8c8c; PADDING-LEFT: 5px; LINE-HEIGHT: 24px
}
.sergrey212 {
	FONT-SIZE: 12px; COLOR: #8c8c8c; PADDING-LEFT: 5px
}
.ser12_1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #430000
}
A.ser12_1:link {
	TEXT-DECORATION: none; COLOR: #430000
}
A.ser12_1:visited {
	TEXT-DECORATION: none; COLOR: #430000
}
A.ser12_1:hover {
	TEXT-DECORATION: underline; COLOR: #430000
}
.ser12_2 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #ff4200
}
A.ser12_2:link {
	TEXT-DECORATION: none; COLOR: #ff4200
}
A.ser12_2:visited {
	TEXT-DECORATION: none; COLOR: #ff4200
}
A.ser12_2:hover {
	TEXT-DECORATION: underline; COLOR: #ff4200
}
.ser12_3 {
	FONT-SIZE: 12px; TEXT-DECORATION: underline
}
A.ser12_3:link {
	TEXT-DECORATION: underline; COLOR: #000000
}
A.ser12_3:visited {
	TEXT-DECORATION: underline; COLOR: #000000
}
A.ser12_3:hover {
	TEXT-DECORATION: underline; COLOR: #ff652d
}
.ser12_4 {
	FONT-SIZE: 12px; TEXT-DECORATION: underline; COLOR: #464646
}
A.ser12_4:link {
	TEXT-DECORATION: underline; COLOR: #464646
}
A.ser12_4:visited {
	TEXT-DECORATION: underline; COLOR: #464646
}
A.ser12_4:hover {
	TEXT-DECORATION: underline; COLOR: #464646
}
.ser12_5 {
	FONT-SIZE: 14px; TEXT-DECORATION: underline; COLOR: #713f3f
}
A.ser12_5:link {
	TEXT-DECORATION: underline; COLOR: #713f3f
}
A.ser12_5:visited {
	TEXT-DECORATION: underline; COLOR: #713f3f
}
A.ser12_5:hover {
	TEXT-DECORATION: underline; COLOR: #713f3f
}
.Engli12 {
	FONT: 12px/1.5 'lucida grande' ,tahoma
}
.forget01 {
	BORDER-TOP: #ccc 1px solid; HEIGHT: 16px; BORDER-RIGHT: #ccc 1px solid; BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 1px !important; PADDING-TOP: 4px; PADDING-LEFT: 2px; MARGIN: 0px 3px; BORDER-LEFT: #ccc 1px solid
}
.wh12 {
	TEXT-DECORATION: none; COLOR: #404040
}
.abt12_1 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; COLOR: #432500
}
A.abt12_1:link {
	TEXT-DECORATION: none; COLOR: #432500
}
A.abt12_1:visited {
	TEXT-DECORATION: none; COLOR: #432500
}
A.abt12_1:hover {
	TEXT-DECORATION: underline; COLOR: #ff0000
}
.abt12_2 {
	FONT-SIZE: 12px; TEXT-DECORATION: none; FONT-WEIGHT: bold; COLOR: #ff3203
}
A.abt12_2:link {
	TEXT-DECORATION: none; COLOR: #ff3203
}
A.abt12_2:visited {
	TEXT-DECORATION: none; COLOR: #ff3203
}
A.abt12_2:hover {
	TEXT-DECORATION: underline; COLOR: #ff3203
}
.msgshow {
	BORDER-TOP: #999999 0px solid; BORDER-RIGHT: #999999 0px solid; BORDER-BOTTOM: #999999 0px solid; POSITION: relative; LEFT: 1px; BORDER-LEFT: #999999 0px solid; Z-INDEX: 103; DISPLAY: block; TOP: 1px
}
