.tmfc_bg {
	HEIGHT: 240px; WIDTH: 494px; BACKGROUND: none transparent scroll repeat 0% 0%; FILTER: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/public_img/tm_bg.png' sizingMethod='scale' enabled=true); Z-INDEX: 1
}
.tmfc_topwz {
	FONT-SIZE: 14px; HEIGHT: 38px; WIDTH: 456px; COLOR: #515151; MARGIN-LEFT: 26px; LINE-HEIGHT: 27px
}
.tmfc_topwz_l {
	WIDTH: 394px; FLOAT: left; PADDING-TOP: 10px
}
.tmfc_topwz .gb_an {
	WIDTH: 28px; FLOAT: right; PADDING-TOP: 13px
}
.xx_line {
	FONT-SIZE: 0px; HEIGHT: 1px; WIDTH: 448px; BACKGROUND: url(../img/public_img/xx_line.gif) repeat-x; MARGIN: 5px auto; LINE-HEIGHT: 1px
}
.tmfc_text {
	FONT-SIZE: 12px; HEIGHT: auto; WIDTH: 448px; TEXT-ALIGN: left; MARGIN: 20px auto 0px; LINE-HEIGHT: 26px; TEXT-INDENT: 2em
}
.tmfc_word {
	FONT-SIZE: 12px; HEIGHT: auto; WIDTH: 448px; TEXT-ALIGN: center; MARGIN: 20px auto 0px; LINE-HEIGHT: 26px
}
.annu_auto {
	FONT-SIZE: 12px; WIDTH: 188px; TEXT-ALIGN: center; MARGIN: 15px auto 0px
}
.an_red {
	COLOR: #bd0000
}
.red_enter {
	CURSOR: pointer; HEIGHT: 22px; BACKGROUND: url(../img/public_img/bg_anniu.gif) no-repeat left -30px; COLOR: #ffffff; PADDING-LEFT: 14px; DISPLAY: inline-block
}
.red_enter SPAN {
	HEIGHT: 22px; BACKGROUND: url(../img/public_img/bg_anniu.gif) no-repeat right -30px; DISPLAY: inline-block; LINE-HEIGHT: 22px; PADDING-RIGHT: 14px
}
A.red_enter:hover {
	TEXT-DECORATION: none
}
A.red_enter:active {
	TEXT-DECORATION: none
}
.black_enter {
	CURSOR: pointer; HEIGHT: 22px; BACKGROUND: url(../img/public_img/bg_anniu.gif) no-repeat left 0px; COLOR: #515151; PADDING-LEFT: 14px; DISPLAY: inline-block
}
.black_enter SPAN {
	HEIGHT: 22px; BACKGROUND: url(../img/public_img/bg_anniu.gif) no-repeat right 0px; DISPLAY: inline-block; LINE-HEIGHT: 22px; PADDING-RIGHT: 14px
}
A.black_enter:hover {
	TEXT-DECORATION: none
}
ablack_enter:active {
	TEXT-DECORATION: none
}
